{% extends 'base.html.twig' %}

{% block title %}Product Show{% endblock %}
{% trans_default_domain "messages" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/products.css') }}">
{% endblock %}
{% block body %}
    <div class="Products-wrapper">
        <h1>{{ 'products'|trans }}</h1>
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th scope="row">Id</th>
                    <th scope="row">{{ 'name'|trans }}</th>
                    <th scope="row">{{ 'reference'|trans }}</th>
                    <th scope="row">{{ 'price'|trans }}</th>
                    <th scope="row">{{ 'cost'|trans }}</th>
                    <th scope="row">{{ 'inventory'|trans }}</th>
                    <th scope="row">{{ 'status'|trans }}</th>
                    <th scope="row">{{ 'bundle'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <th>{{ product.id }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.reference }}</td>
                        <td>${{ product.price|number_format(2,',') }}</td>
                        <td>${{ product.cost|number_format(2,',') }}</td>
                        <td>{{ product.inventory }}</td>
                        <td>{{ product.status == 0 ? 'disabled'|trans : 'enabled'|trans }}</td>
                        <td>
                            {% if product.class != 'Product' %}
                                <a class="btn btn-primary" href="{{ path('bundle_show', {'bundleid':product.id}) }}">{{ 'show'|trans }}</a>
                            {% else %}
                                {{ '-' }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="form-wrapper" data-action="{{ path('product_show') }}">
        {{ form_start(form) }}
        {{ form_row(form.file) }}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
        <div class="progress_bar progress js_file_progress_bar"><div id="js_progress_percentage" class="progress" data-progress="0"></div></div>
        <div class="js_file_uploaded">{{ 'form.file.uploaded'|trans }}</div>
        <div class="btn btn-primary csv-file-form-upload js_form_file__upload">{{ 'upload'|trans }}</div>
        <div class="btn btn-primary csv-file-form-submit js_form_file__submit">{{ 'form.file.button'|trans }}</div>
    </div>
    <code class="js-response-log">
    </code>
    <div class="modal" id="file_error_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog error-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'form.file.error.dialog.title'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ 'form.file.error.dialog.message'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="js_toggle_error_modal" data-toggle="modal" data-target="#file_error_modal">
    </button>
    <input class="js_execute_commands_url" type="hidden" value="{{ path('product_execute') }}">
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/product_show.js') }}"></script>
    {% endblock %}
{% endblock %}
